/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  color: white;
}

body {
  background-color: orangered;

}

.container {
  margin: auto;
  width: 600px;
  min-width: 600px;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 20px;
  display: flex;
  /* color: white; */
  text-align: center;
  text-transform: uppercase;
}

.title {
  background-color: white;
  color: red;
  margin-top: 1rem;
  border-radius: 1rem;
  flex: 1;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Langar', cursive;
  letter-spacing: .5em;
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

.timer-score {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Sans';
  font-size: 2rem;
}

.letterbox {
  /* background-color: green; */
  font-size: 4em;
  flex: 1;
  font-family: 'Langar';
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.answerbox {
  /* background-color: blue; */
  flex: 1;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
  font-size: 3em;
  justify-content: center;
  height: 20%;
}

.words {
  /* background-color: yellow; */
  flex: 3;
  flex-flow: row wrap;
  font-family: 'Noto Sans', sans-serif;
  font-size: .9em;
  justify-content: center;
  align-items: unset;
  /* align-items: center; */
}

.word {
  /* display: flex; */
  margin: 0 1rem;
  font-family: 'Noto Sans', sans-serif;
  /* color: white; */
}

.letter {
  margin: 0 0.2rem;
}

.nodisplay {
  display: none !important;
}

.play {
  display: flex;
  flex: 6;
  flex-flow: column nowrap;
  width: 100%;
}

.pause {
  display: flex;
  flex: 6;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  background-color: white;
  color: orangered;
  font-family: 'Langar';
  cursor: pointer;
}

.start-btn {
  font-size: 4rem;
  align-self: center;
  padding: 2rem;
  border-radius: 2rem;
}

.end-btn {
  padding: 1rem;
  border-radius: 1rem;
}

.final {
  display: flex;
  flex-direction: row;
  justify-content: center;
}